
header {
  position: sticky;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;

}

/* Mise en forme "input" formulaire "creation tournoi" */

.ajout {
  font-size: 0.9em;
  color: black;
  font-weight: 530;
  width: 96%;
  display: block;
  border: none;
  padding: 0.5em;
  margin-left: 15px;
  border: solid 1px rgba(255, 255, 255, 0.37);
  border-radius: 3px;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  /* background-color: #2874A6 ; */
  background: white;
}


/* Mise en forme profil à l'accueil*/

/* .accueil{
  background: red;
  background-size: cover;
  border-radius: 10%;
  padding-bottom: 10px;
  box-shadow: 1px 1px 4px black;
} */


/* Mise en forme du logo buton accueil sur la barre de navigation */

.bar{
    /* background-color: white; */
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 10px;
    padding-left: 5px;
    
} 

.bar img{
 
    width: 80px;
    height: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 0;
     
}



/* Mise en forme des butons '*/

.btn-theme {
  color: #fff;
  background-color: #154360;
  border-color: #154360;
  margin-right:50px;
      box-shadow: 1px 1px 4px black;
}
.btn-theme:hover {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
  box-shadow: 1px 1px 4px black;
}


.btn-theme2 {
  color: #fff;
  background-color: #2874A6;
  border-color: #2874A6;
  margin-right:50px;
  
}

.btn-accueil{

    border: none;
    background-color: #2874A6 ;
}

.btn-accueil img{
    width: 150px;
    height: 100px;
    border-radius: 50%;
}

a:link 
{ 
 text-decoration:none; 
} 


a#tel{
    color:white;
    background-color:#6c757d;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
}

.tournoi{
  /* position: relative; */
  width: 400px;
  height: auto;
 color: black;
 margin: 50px 50px 50px 50px;
  border-radius: 10px;
  bottom: 0;
  background-color: white;
  box-shadow: 1px 1px 3px black;
  
}


#tournoi1{
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 3% ;
  height: 130px;
  backdrop-filter: blur(5px);
  padding: 0;
  border-radius: 10px 10px 0 0;
  bottom: 0;
  background-size: 100%;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

}

#tournoi1 h1{
  text-shadow: 3px 3px 6px black;
  width: 100%; 
  color: white;
  font-weight: 600;
  font-size: 1.8rem;
  padding-left: 8px;
  padding-right: 8px;
}

#tournoi2 {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  text-align: justify;
  
}

.div1{
display: flex;
justify-content:space-between;
width: 100%;
flex-wrap: wrap;
/* background-color: #fcfcfc; */
/* padding: 50px 50px 0 50px; */
/* box-shadow: 1px 1px 4px black; */
border-radius: 0 0 10px 10px;
}

.div1 #child1{

  width: 41.3%;
  /* margin: 0 0 50px 0; */

  }

  .div1 h5{
    /* background-color: #2f3780; */
  
    padding: 0 0 0 25px;
    margin: 0 0 15px 0;
    line-height: 1.75;
    /* border-radius: 0 15px 0 0; */
    font-size: 0.95em;
  }


  .div2{
    display: flex;
    width: 96%;
    justify-content: space-between;
    flex-wrap: wrap;
     
    background: rgba(0, 0, 0, 0.20);
    padding: 10px 10px 0 10px;
    margin-left: 15px;
 
    }

    .div2 #child1{

      width: 30%;
      margin: 0 0 10px 0;
      text-align: left;
      }

.div3{
display: flex;
width: 53%;
height: 265px;
flex-wrap: wrap;
background-color: #fffdfd;
border-radius: 10px;
box-shadow: 1px 1px 4px black;
}

.div3 h3{
  background-color: #2f3780;
  width: 336.5px;
  text-align: center;
  padding: 10px 0 10px 0;
  border-radius: 0 10px 0 0;
  color: #fff;
  font-size: 1.3em;
}

.div3 h5{
  /* background-color: #2f3780; */

  padding: 0 0 0 25px;
  margin: 0 0 15px 0;
  line-height: 1.75;
  /* border-radius: 0 15px 0 0; */
  font-size: 0.95em;
}

  .div3 #child1 img{

    width: 350px;
    height: 265px;
    border-radius: 10px 0 0 10px;
    /* margin-right: 15px; */
  
    }

    .div3a{
      display: flex;
      width: 53%;
      flex-wrap: wrap;
      background-color: #fffdfd;
      border-radius: 10px;
      box-shadow: 1px 1px 4px black;
      }

      .div3a h3{
        background-color: #2f3780;
        width: 336.5px;
        text-align: center;
        padding: 10px 0 10px 0;
        border-radius: 0 10px 0 0;
        color: #fff;
        font-size: 1.3em;
      }

      .div3a h5{
        /* background-color: #2f3780; */
        padding: 0 0 0 25px;
        margin: 0 0 15px 0;
        line-height: 1.75;
        /* border-radius: 0 15px 0 0; */
        font-size: 0.95em;
      }
      
        .div3a #child1 img{
      
          width: 350px;
          height: 230px;
          border-radius: 10px 0 0 10px;
          /* margin-right: 15px; */
        
          }

.div4 {

  display: flex;
  /* width: 96%; */
  justify-content: space-between;
  flex-wrap: wrap;
  /*   */
  /* background: rgba(0, 0, 0, 0.20); */
  padding: 10px 10px 0 10px;
  /* margin-left: 15px; */

}

  .divParticipants{
    /* display: flex; */
    width: 17%;
    flex-wrap: wrap;
    background-color: #fffdfd;
    border-radius: 10px;
    margin-bottom: 50px;
    box-shadow: 1px 1px 4px black;
    }
  .divParticipants #child1 img{

    width: 217px;
    height: 140px;
    border-radius: 10px 10px 0 0;
    /* margin-right: 15px; */
  
    }

    .divParticipants #child2{
      /* background-color: #2f3780; */
      /* width: 336.5px; */
      text-align: center;
      padding: 5px 0 5px 0;
      /* border-radius: 0 0 10px 10px; */
      color: #000;
      font-weight: 600;
      font-size: 0.9em;
    }


.link {
  width: 150px;
  color: #fff;
  /* font-size: 1.1rem; */
  background-color: #2f3780;
  /* border-radius: 0.50rem; */
  margin-bottom: 3%;
  border: 3px solid #2f3780;
  font-weight: 500;
  
      /* box-shadow: 1px 1px 4px black; */
}



.link:hover {
  color: rgb(24, 24, 24);
  background-color:  white;
  border: 3px solid #2f3780 ;
  /* font-weight: 450; */
  
}

.link2 {
  width: 180px;
  color: #fff;
  background-color: #2f3780;
  /* border-radius: 0.50rem; */
  margin-bottom: 2%;
  border: 3px solid #2f3780;
  font-weight: 500;
  
      /* box-shadow: 1px 1px 4px black; */
}


.link2:hover {
  color: rgb(24, 24, 24);
  background-color:  white;
  border: 3px solid #2f3780 ;
  /* font-weight: 450; */
  
}

.title {
  width: 100%;
  color: #fff;
  font-size: 1.35rem;
  background-color: #2f3780;
  /* border-radius: 10px 10px 0 0; */
  /* margin-bottom: 2%; */
  border: 3px solid #2f3780;
  padding: 4px 0 4px 0;
  font-weight: 500;
  text-align: center;
  text-shadow: 1px 1px 4px black;
  box-shadow: 1px 1px 4px black;
}

.message {
  /* width: 100%; */
  color: #fff;
  font-size: 1.8rem;
  background-color: #2f3780;
  border-radius: 10px;
  /* margin-bottom: 2%; */
  /* font-weight: 500; */
  padding: 50px 150px 50px 150px;
  text-align: center;
      text-shadow: 1px 1px 4px black;
}

.message2 {
  width: 100%;
  color: #fff;
  font-size: 1.6rem;
  background-color: #2f3780;
  border-radius: 10px;
  /* margin-bottom: 2%; */
  /* font-weight: 500; */
  /* padding: 1px 0 1px 0; */
  /* text-align: center; */
      text-shadow: 1px 1px 4px black;
}

.title2 {
  width: 20%;
  color: #fff;
  font-size: 1.2rem;
  background-color: rgb(31, 31, 31);
  border-radius: 5px;
  /* margin-bottom: 2%; */
  /* border: 3px solid #2f3780; */
  font-weight: 500;
  padding: 5px 0 5px 0;
  margin: 0 0 5px 10px;
  text-align: center;
  
      box-shadow: 1px 1px 4px black;
}

.div5 {

  display: flex;
  width: 96%;
  flex-wrap: wrap;
   
  padding: 10px 10px 0 10px;

}

.parcours{
  padding: 10px;
  background-color: rgb(240, 240, 240);
  box-shadow: 1px 1px 4px black;
  border-radius: 10px;
}


.parcours th{
  /* background-color: #2f3780; */
  color: black;
  width: 60px;
  text-align: center;
  padding: 5px 0 5px 0;
}

.parcours td{
  text-align: center;
  padding: 6px 0 6px 0;
  font-weight: 500;
  font-size: 0.8rem;
}

#parcours img{
  margin-left: 150px;
  width: 320px;
  height: 320px;
  transform: rotate(40deg);
}


.score{
  padding: 10px;
  background-color: rgb(240, 240, 240);
  box-shadow: 1px 1px 4px black;
  /* border-radius: 5px;  */
}


.score th{
  background-color: #2f3780;
  color: white;
  width: 60px;
  text-align: center;
  padding: 5px 0 5px 0;
}

.score td{
  text-align: center;
  padding: 6px 0 6px 0;
  font-weight: 500;
  font-size: 0.8rem;
}


.div6 {

  display: flex;
  justify-content:space-between;
  padding: 10px 10px 0 10px;
  text-align: center;

}

.div7 {

  display: flex;
  padding-top: 10px;
  /* justify-content:space-between; */
  /* padding: 10px 10px 0 10px; */
  /* text-align: center; */
}


.div7 #child1{

 padding-left: 40px;
 margin-bottom: 20px;
}

.div8 {
  display: flex;
  justify-content:left;
  text-align: center;

}

.div9 {
  display: flex;
  justify-content:space-between;
}


.classement{
  padding: 10px;
  width: 380px;
  background-color: rgb(240, 240, 240);
  box-shadow: 1px 1px 4px black;
  border-radius: 10px; 
}


.classement th{
  background-color:#2f3780;
  color: white;
  width: 60px;
  font-weight: 400;
  text-align: center;
  padding: 5px 0 5px 0;
  margin-top: 10px;
}

.div6 h5{
  /* background-color:  rgb(32, 32, 32); */
  color: black;
  width: 600px;
  font-weight: 500;
  font-size: 1.1rem;
  text-align: center;
  /* padding: 5px 120px 0 120px; */
  margin-bottom: 10px;
  /* border-radius: 10px 10px 0 0; */
}

.classement td{
  text-align: center;
  padding: 6px 0 6px 0;
  font-weight: 500;
  font-size: 0.85rem;
}

#classement img{
  margin-left: 150px;
  width: 320px;
  height: 320px;
  transform: rotate(40deg);
}


.div8 {

  display: flex;
  /* justify-content:space-between; */
  padding: 10px 10px 0 10px;
  text-align: center;

}


.div8 h5{
  /* background-color:  rgb(32, 32, 32); */
  color: black;
  /* width: 600px; */
  font-weight: 500;
  font-size: 1.1rem;
  /* text-align: center; */
  margin-bottom: 10px;
  margin-right: 60px;
}


.classement2{
  padding: 10px;
  margin-right: 70px;
  width: 380px;
  height: 280px;
  background-color: rgb(240, 240, 240);
  box-shadow: 1px 1px 4px black;
  border-radius: 10px; 
}


.classement2 th{
  background-color:#2f3780;
  color: white;
  width: 60px;
  font-weight: 400;
  text-align: center;
  padding: 5px 0 5px 0;
  margin-top: 10px;
}

.classement2 td{
  text-align: center;
  padding: 6px 0 6px 0;
  font-weight: 500;
  font-size: 0.85rem;
}

#classement2 img{
  margin-left: 150px;
  width: 320px;
  height: 320px;
  transform: rotate(40deg);
}

.center-c {
  margin-top: 7px;
  text-align: center;
  justify-content: center;
}


input 
{
  border: none;
  border-radius: 5px; 
}

input#zone_text{
   width: 400px;
    padding: 5px;
   padding-left: 10px;
}

  
input#zone_textR{
   width: 400px;
    padding: 5px;
   padding-left: 10px;
   background: rgba(0, 0, 0, 0.40);

}

input#zone_text2{
   width: 280px; 
   padding-left: 15px;
}

input[type="file"]{
  background-color: #2f3780;
}

select#zone_text2{
  width: 280px; 
  padding-left: 15px;
  padding:2px 0 2px 10px;
  border-radius: 6px; 
}

input#zone_text3{
color:#fff;
}

.form-group{
    padding-left: 10%;
}

.form-group2{
    padding-left: 15%;
}


.form-profil{
    
   background-color: #2f3780;
   background-size: cover;
   width: 550px;
   /* margin-left: 85px;
   margin-right: 85px; */
   padding-bottom: 15px;
   border-radius: 10px; 
   text-align: center;
   box-shadow: 1px 1px 4px black;
}


.parent {
  display: flex; /* contexte sur le parent */
}
.enfant {
  margin: auto; /* eh oui, tout bêtement */
}



